################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Class2/.vs/Class2/v16/Server/sqlite3/db.lock
